a.active {
    font-size: 1.125rem; /* text-xl เทียบเท่า */
    background-color: #f472b6; /* สีชมพู */
    color: white;
    border-radius: 0.5rem; /* ทำให้โค้งเหมือน btn */
    padding: 0.5rem 1rem; /* กำหนด padding */
    text-decoration: none; /* เอา underline ออก */
    display: inline-block; /* ให้ background ปรับได้เต็ม */
}

a.active:hover {
    background-color: #ec4899; /* สีชมพูเข้มขึ้นเมื่อ hover */
}