div.card {
    /* background-color: var(--pink-accent); */
}

button.btn-outline-success {
    border-color: var(--pink-accent);
}

button.btn-outline-success {
    color: var(--pink-accent)
}

button.btn-outline-success:hover {
    color: white;
    border-color: var(--pink-accent);
    background-color: var(--pink-accent);
}