* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    display: flex;
    width: 100%;
    position: sticky;
    box-shadow: 0 0 5px 0 black;
    column-count: 3;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f5eae3;
}

.logo {
    column-gap: 5px;
    align-content: center;
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-decoration: none;
}

#ikpwh {
    min-height: 100px;
}

.marquee {
    background-color: #dfb1b6;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#i8559 {
    padding: 5px;
    text-decoration: none;
}

#ixj8l {
    padding: 5px;
    text-decoration: none;
}

#ieziv {
    padding: 5px;
    text-decoration: none;
}

#ipeob {
    padding: 5px;
    text-decoration: none;
}

#ih45p {
    padding: 5px;
    text-decoration: none;
}

#i1qxg {
    color: black;
    height: 30px;
    display: none;
}

.footer {
    background-color: #dfb1b6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: absolute;
}

#i3qaf {
    display: flex;
    align-items: center;
}

#iw4nx {
    display: flex;
}

#ievoe {
    display: flex;
    column-gap: 10px;
}

.search-field {
    display: flex;
    column-gap: 10px;
    padding: 10px;
}

.search-button {
    border-top: 2px solid;
    border: 2px solid #a6427c;
    border-radius: 4px 4px 4px 4px;
    background-color: rgba(0, 0, 0, 0);
    color: #a6427c;
    padding: 5px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.search-input {
    border: 2px solid #a6427c;
    border-radius: 4px;
}

.news-menu {
    text-decoration: none #251919;
    outline: #ffffff;
    border-radius: 4px;
    border: 2px solid #a6427c;
    color: #a6427c;
}

.download-menu {
    color: #a6427c;
    border-radius: 4px;
    border: 2px solid #a6427c;
}

.about-menu {
    color: #a6427c;
    border: 2px solid #a6427c;
    border-radius: 4px;
}

.guide-menu {
    color: #a6427c;
    border: 2px solid #a6427c;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
}

.contact-menu {
    color: #a6427c;
    border: 2px solid #a6427c;
    border-radius: 4px;
}

.navbar {
    justify-content: space-between;
    padding: 10px;
}

.main {
    display: block;
    width: 100%;
    padding: 0px 0px 0px 0px;
}

.website-name {
    color: #a6427c;
    font-weight: 700;
    font-size: 30px;
}

#ixj8l-3 {
    padding: 5px;
    text-decoration: none;
}

#ijexw {
    color: #f5eae3;
}

#ixj8l-3 {
    padding: 5px;
    text-decoration: none;
}

#ilmd5 {
    color: #f5eae3;
}

.news-menu.active-page {
    color: #f5eae3;
    background-color: #a6427c;
}

.download-menu.active-page {
    background-color: #a6427c;
    color: #f5eae3;
}

.about-menu.active-page {
    color: #f5eae3;
    background-color: #a6427c;
}

.guide-menu.active-page {
    color: #f5eae3;
    background-color: #a6427c;
}

.contact-menu.active-page {
    color: #f5eae3;
    background-color: #a6427c;
}

.svg-pp-logo {
    display: flex;
}

#iahu12-2 {
    min-height: 100px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    width: 100%;
    margin: 0px;
    overflow: hidden hidden;
}

#iahu12-2 {
    min-height: 100px;
}

.feature {
    min-height: 400px;
}

#i09p8l {
    min-height: 100px;
}

.carousel-control {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    padding: 30px;
}

#iay1qb {
    min-height: 100px;
}

#i3wee1 {
    min-height: 100px;
}

.left-arrow {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ik4kri {
    cursor: pointer;
}

#ih8h4q {
    cursor: pointer;
}

#id7fcl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#is0ydi {
    color: black;
    width: 100%;
}