@import url('css/img-tn.css');
@import url('css/active.css');

:root {
    --pink-accent: #e0556e;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f5f5;
}

.main {
    width: 100%;
    padding: 0;
}
